.inspiration {
	@include container();
}
.inspiration__container {
	@include flexVariant(center);
	padding: 35px 0;

	h3 {
		margin-bottom: 0;
		white-space: nowrap;
		font-size: $fontXXL;
		@include respond(tab-land) {
			font-size: $fontXL;
		}
		@include respond(mobile) {
			font-size: $fontL;
		}
	}
	@include respond(tab-port) {
		flex-direction: column;
		padding: 25px 0;
	}
}

.inspiration__question {
	color: $primaryColor;
	font-weight: 400;
	margin-right: 20px;
	white-space: nowrap;
}

.inspiration__answer {
	position: relative;
	color: $primaryColor;
	font-weight: 600;
	cursor: pointer;

	&:hover {
		color: $primaryLightColor;
		.inspiration__line {
			background-image: linear-gradient(
				to left,
				transparent 50%,
				$primaryLightColor 50%
			);
		}
	}
	.inspiration__line {
		position: absolute;
		left: 3px;
		width: 100%;
		height: 8%;
		background-size: 32px;
		background-image: linear-gradient(
			to left,
			transparent 50%,
			$primaryColor 50%
		);
	}
}
