.tab-classes {
	background-color: $primaryDarkColor;
}

.tab-classes__container {
	@include container();
	@include flexVariant(space-between);
	max-width: 1060px;
	flex-direction: column;
	padding: 50px 20px 80px 20px;

	@include respond(mobile) {
		padding: 50px 20px;
	}

	//for accesibility optimization it should be h2 in markup
	h4 {
		color: $primaryLightColor;
		font-size: $fontXXXL;
		line-height: 1.1;
		margin-bottom: 20px;

		@include respond(mobile) {
			font-size: $fontXL;
		}
	}
}

//===========================TOP CONTAINER==================================//
.tab-classes__text-container {
	@include flexVariant(space-between);
	flex-direction: column;
	max-width: 570px;
	min-width: 250px;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 40px;
	text-align: center;

	@include respond(mobile) {
		margin-bottom: 10px;
	}
	p {
		color: $mainWhite;
		margin-bottom: 0;
		@include respond(mobile) {
			margin-bottom: 5px;
		}
	}
	.tab-classes__above-title-paragraph {
		font-size: $fontS;
		text-transform: uppercase;
	}
}

//==========================================================================//

//===========================MID CONTAINER==================================//

.tab-classes__mid-container {
	@include flexVariant(flex-end);
	margin-bottom: 15px;
	width: 100%;

	@include respond(mobile) {
		@include flexVariant(center);
		margin-bottom: 40px;
	}

	p {
		color: $primaryLightColor;
		margin-bottom: 0;
		border-bottom: 2px dashed $primaryLightColor;
		cursor: pointer;
		transition: $mainTransition;

		&:hover {
			color: $mainWhite;
			border-bottom: 2px dashed $mainWhite;
		}
	}
}

//==========================================================================//

//======================BOTTOM CONTAINER / TABS=============================//

.tab-classes__bottom-container {
	width: 100%;
	background-color: $mainWhite;

	@include respond(mobile) {
		display: none;
	}
}

.tab-classes__unordered-list {
	background-color: $lightGrey;
	@include flexVariant(space-around);
	li {
		width: 33.33%;
		height: 60px;
		border-left: 1px solid $mainGrey;
		cursor: pointer;

		&:first-child {
			border-left: none;
		}
	}
}

.tab-classes__list-item {
	a {
		@include flexVariant(center);
		width: 100%;
		height: 100%;
		color: $darkGrey;
		font-weight: 400;
		font-size: $fontLL;
	}

	//when we click on the tab
	&.active {
		background-color: $mainWhite;
		a {
			color: $primaryColor;
			font-weight: 700;
			border-top: 4px solid $primaryLightColor;
			padding-bottom: 4px;
		}
	}
}

.tab-classes__primary {
	color: $primaryColor;
	white-space: nowrap;
}
.tab-classes__secondary {
	color: $darkGrey;
	font-weight: 400;
	white-space: nowrap;
}

//==========================================================================//

//===================BOTTOM CONTAINER / TAB-CONTENT=========================//

.tab-classes__tab-pane {
	display: none;

	&.active {
		display: grid;
		grid-template-columns: 1fr 2fr;
		height: 250px;
		img {
			width: 170px;
			height: 170px;
			border-radius: 50%;
		}
	}
}

.tab-classes__image-container {
	@include flexVariant(center);
}

.tab-classes__tab-content {
	padding-right: 20px;
}

.tab-classes__include-text {
	@include flexVariant(flex-start);
	padding-top: 40px;
	h6 {
		font-size: $fontM;
		@include respond(tab-port) {
			font-size: $fontMS;
		}
	}
}

.tab-classes__include-text__left-container {
	margin-right: 100px;
	margin-left: 30px;
	@include respond(tab-port) {
		margin-right: 25px;
		margin-left: 10px;
	}
}

.tab-classes__span-img {
	padding-right: 7px;
	display: inline-block;
	img {
		width: 20px !important;
		height: 20px !important;
		margin-bottom: -3px !important;
	}
}
//==========================================================================//

//===================MOBILE CONTAINER-VISIBLE BELOW 600px===================//

.tab-classes__bottom-container-mobile {
	display: none;

	@include respond(mobile) {
		display: grid;
		grid-template-rows: 1fr 1fr;
		row-gap: 40px;
	}

	article {
		@include mobileContainer();
		display: grid;
		grid-template-rows: 1fr 0.3fr 4fr;
		padding: 20px 25px;
		background-color: $mainWhite;
		border-top: 5px solid $primaryColor;
		img {
			width: 75px;
			height: 75px;
			border-radius: 50%;
		}
		h5 {
			text-align: center;
			margin: 5px 0 20px 0;
			color: $primaryColor;
		}
		h6 {
			margin-bottom: 5px;
			font-weight: 500;
		}
		.tab-classes__span-img {
			padding-right: 7px;
			display: inline-block;
			img {
				width: 15px !important;
				height: 15px !important;
				margin-bottom: -3px !important;
			}
		}
	}
}
