.usp {
	@include flexVariant(space-between);
	@include container();
	flex-direction: column;
	padding: 40px 20px 30px 20px;
}

.usp__paragraph {
	text-transform: uppercase;
	margin: 0px;
	color: $darkGrey;
	white-space: nowrap;
}

.usp__title {
	color: $primaryColor;
	text-align: center;
	margin-bottom: 60px;
	font-size: $fontXXXL;
	@include respond(mobile) {
		margin-bottom: 50px;
		font-size: $fontXXL;
	}
}

.usp__grid-container {
	display: grid;
	grid-template-columns: repeat(2, 400px);
	@include respond(tab-land) {
		grid-template-columns: repeat(2, 260px);
	}
	@include respond(mobile) {
		grid-template-columns: repeat(1, 250px);
	}
	row-gap: 20px;
	column-gap: 50px;
	h4 {
		color: $primaryDarkColor;
		font-weight: 500;
		white-space: nowrap;
		margin-bottom: 10px;
	}
	p {
		color: $primaryDarkColor;
	}
}

.usp__card-grid-container {
	width: 400px;
	height: 150px;
	@include respond(tab-land) {
		width: 260px;
		height: 200px;
	}
	@include respond(mobile) {
		width: 250px;
		height: 210px;
	}
	display: grid;
	grid-template-columns: 1fr 4fr;
	gap: 20px;
}

.usp__image-container {
	position: relative;
	width: 72px;
	height: 72px;
	margin-top: 5px;
}

.usp__svg-circle {
	@include svgCircle();
	width: 74px;
	height: 74px;
	circle {
		stroke: rgba(201, 206, 201, 0.467);
	}
}

.usp__img {
	@include centerAbsolute();
	width: 40px;
	height: 40px;
}
